
body, html{
	height: 100%;
	margin: 0;
}

body {
	width: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.menu{
	width: 80%;
	height: 12%;
	font-size: 15px;
	display: inline-block;
	margin-left: 10%;
}

.menu-item {
	width: 8%;
	height: 100%;
	float: left;
	transition: 1s;
	cursor: pointer;
}

.menu-item-text {
	font-size: 17px;
	padding: 25px;
	text-align: center;
	font-weight: bold;
	color: #67686B;
	font-family: 'Noto Serif', serif;
}

.menu-item:hover {
	color: #9BA09E;
	width: 11%;
}

.sub-menu{
	display: inline-block;
	border: 1px solid black;
	background-color: white;
	width: 70%;
	height: 20%;
	margin-left: 15%; 
	margin-top: 5%;
	color: black;
}



@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
position: relative;
width: 500%;
margin: 0;
top: 0;
left: 0;
text-align: left;
font-size: 0;
-webkit-animation: 20s slidy ease-in-out infinite;
animation: 20s slidy ease-in-out infinite;
}